* {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    // font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    // font-weight: 700;
}

a, a:hover, a:visited {
    color: $link;
    text-decoration: none;
}

